#container{
    margin-left: 20px;
}
.title{
    margin-left: 15px
}
/* .itemsTable{
    box-sizing: border-box
} */
.itemTr:hover{
    cursor:pointer
}
/* .itemTr{
    border:1px solid black;
    border-bottom: none;
    border-right: none
}
.itemTr:last-child{
    border-bottom: 1px solid black;
} */
.itemTr.selected{
    background-color: moccasin;
}
.itemsTable{
    width: 100%;
    display: inline-block;
    
}
.itemsTableWrapper{
    display: inline-block;
    width: 60%;
}
.itemTd{
    display: inline-block;
    height: 35px;
    border-top: 1px solid black; 
    border-left: 1px solid black;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    padding: 3px;
    cursor:pointer;
    /* overflow: hidden; */
    
}
.itemTd:last-child{
    border-right: 1px solid black;
}
.itemTr:last-child .itemTd{
    border-bottom: 1px solid black;
}

.itemImg{
    vertical-align: text-top;
    /* width: 150px; */
    height: 140px;
}
.hiddenRadio{
    display: none
}
.btn_edit, .btn_delete{
    vertical-align: sub;
}
.btn_edit, .btn_delete:hover{
    cursor: pointer
}
.cardItem{
    display: inline-block;
    width: 35%;
}
.cardItem{
    margin-left: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    vertical-align: top;
}
.cardItemHeader{
    text-decoration: underline;
    font-weight: bold;
}
.imgWrapper img{
    margin: 3px;
    height:  150px;
    /* float: left; */
}
.cardItemTitle, .cardItemLeft, .cardItemDesription{
    margin-top:5px;
    
}
.cardItemHeader{
    width: 20%;
    display: inline-block;
}
.error{
    display: inline-block;
    font-size: 12px;
    color:red;
    margin-left: 5px;

}
.newItem{
    margin: 15px;
}
.btn_save, btn_cancel{
    margin: 10px;
}
.cardItemDesription textarea{
    width: 80%
}