#container{
    margin-left: 20px;
}
.title{
    margin-left: 15px
}
/* .itemsTable{
    box-sizing: border-box
} */
.itemTr:hover{
    cursor:pointer
}
/* .itemTr{
    border:1px solid black;
    border-bottom: none;
    border-right: none
}
.itemTr:last-child{
    border-bottom: 1px solid black;
} */
.itemTr.selected{
    background-color: moccasin;
}
.itemsTable{
    width: 800px;
    
}
.itemTd{
    display: inline-block;
    height: 35px;
    border-top: 1px solid black; 
    border-left: 1px solid black;
    width: 160px;
    box-sizing: border-box;
    text-align: center;
    padding: 3px;
    cursor:pointer
    
}
.itemTd:last-child{
    border-right: 1px solid black;
}
.itemTr:last-child .itemTd{
    border-bottom: 1px solid black;
}

.itemImg{
    vertical-align: text-top;
    /* width: 150px; */
    height: 140px;
}
.hiddenRadio{
    display: none
}
.btn_edit, .btn_delete{
    vertical-align: sub;
}
.btn_edit, .btn_delete:hover{
    cursor: pointer
}